version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: flight_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: flight_redis
    ports:
      - "6379:6379"

  neo4j:
    image: neo4j:5
    container_name: flight_neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data

volumes:
  mongo_data:
  neo4j_data:
